In [1]:
import numpy as np 
import os 
import pandas as pd

reflect = 30
tuple_a = (10, 20, 10, 10)
tuple_b = (25, 27, 2, 5)
tuple_c = (30, 40, 10, 3)

path = "../GEO3000/code/data/discharge_data_100_cleaned/"

def get_files(folder_path):
        folder_list_data = []
        folder_list_supplementary = []
        file_type = ".q"

        folder = os.scandir(folder_path)               # Reads the directory
        for file in folder:                                         # Loop over files
            if file.name[-len(file_type):] == file_type:  # Checks for files of filetype
                folder_list_data.append(file.name)             # Adds filenames with correct filetype to list
            else:
                folder_list_supplementary.append(file.name)    # Add all other files to a supplementary list
        folder.close()      
        return folder_list_data

files = get_files(path)

def read_file(folder_list_data, path):
    a = True
    return_list = []
    for file in folder_list_data:
        nan_list = []
        file_object = open(path + file, "r")
        file_object.readline()
        for line in file_object:
            if line[:2] == "#*":
                nan_list.append((0,0,0,0))
                if a:
                    df_output = pd.read_csv(file_object, 
                                            delim_whitespace=True, 
                                            header=0, 
                                            index_col=[0,1,2], 
                                        )
                    a = False
                    print(nan_list)
                break
            nan_list.append(eval(line[1:]))
        file_object.close()
                
        return_list.append(nan_list)
    return return_list, df_output

nan_list, df_raw = read_file(files, path)

# hyearstart = (int(df.iloc[0].name[0]), 9, 1)
# hyearend = (int(df.iloc[0].name[0] + 1), 8, 31)
# tmp_nan_list = [tuple_a, tuple_b, tuple_c]#, tuple_d].groupby(,axis=0)

[(0, 0, 0, 0)]

In [2]:
df = df_raw.copy() # I can still tuple index this. 
df

                discharge
year month day
1991 9     1     0.083963
           2     0.083963
           3     0.083963
           4     0.083963
           5     0.070818
...                   ...
2020 8     27    0.178247
           28    0.127344
           29    0.121626
           30    0.111551
           31    0.100905

[10593 rows x 1 columns]

In [3]:
df.groupby(by='year').mean()


def assign_wy(row):
    if row.name[1]>8:
        return(int(row.name[0] + 1))
    else:
        return(int(row.name[0]))
df['WY'] = df.apply(lambda x: assign_wy(x), axis=1)
df = df[["WY", "discharge"]]
df_2 = df.copy()
df_2

                  WY  discharge
year month day
1991 9     1    1992   0.083963
           2    1992   0.083963
           3    1992   0.083963
           4    1992   0.083963
           5    1992   0.070818
...              ...        ...
2020 8     27   2020   0.178247
           28   2020   0.127344
           29   2020   0.121626
           30   2020   0.111551
           31   2020   0.100905

[10593 rows x 2 columns]

In [14]:
def BFI(Q, alpha=0.925, passes=3, ReturnQbase=False, reflect=30):
    #Q = pd.DataFrame(Q, columns=["dis"]) # Adding input to DF
    Q_input_raw = Q.to_numpy()
    # Above is not needed in actual program
    def first_pass(Q, a):
        b = 0.5 * (1+a)
        Qf1 = np.zeros(len(Q)) # Empty quickflow 
        Qf1[0] = Q[0]
        for i in range(1, len(Qf1)):
            Qf1[i] = a*Qf1[i-1] + b*(Q[i]-Q[i-1])
            
        Qb1 = np.where(Qf1 > 0, Q-Qf1, Q)
        
        return pd.DataFrame({"Qf": Qf1, "Qb": Qb1})
    
    def backwards_pass(Q, a):
        n = len(Q["Qb"])
        Qb = Q["Qb"]
        b = 0.5 * (1+a)
        
        Qf2 = np.zeros(n) # Empty array
        Qf2[-1] = Qb.iloc[-1]
        
        for i in range(n-2, 0, -1):
            Qf2[i] = a*Qf2[i+1] + b*(Qb.iloc[i] - Qb.iloc[i+1])
            
        Qb2 = np.where(Qf2 > 0, Qb - Qf2, Qb)
        
        return pd.DataFrame({"Qf": Qf2, "Qb": Qb2})
    
    def forward_pass(Q, a):
        n = len(Q["Qb"])
        Qb = Q["Qb"]
        b = 0.5 * (1+a)
        
        Qf2 = np.zeros(n) # Empty array
        Qf2[0] = Qb.iloc[0]
        
        for i in range(1, n):
            Qf2[i] = a*Qf2[i-1] + b*(Qb.iloc[i] - Qb.iloc[i-1])
            
        Qb2 = np.where(Qf2 > 0, Qb - Qf2, Qb)
        
        return pd.DataFrame({"Qf": Qf2, "Qb": Qb2})
    
    
    Qin = np.pad(Q_input_raw, (reflect, reflect), mode="reflect")
        
        
    df1 = first_pass(Qin, alpha)
    df2 = backwards_pass(df1, alpha)
    df3 = forward_pass(df2, alpha)
    
    return df3["Qb"][reflect:-reflect].to_numpy()

In [15]:
# Run the smoothing on the entire dataset. 
qBaseflow = BFI(df["discharge"])

In [16]:
qBaseflow

array([0.07945325, 0.07979148, 0.08010435, ..., 0.121626  , 0.111551  ,
       0.100905  ])

In [17]:
df_2 = df.copy()
df_2["Qb"] = qBaseflow
df_2

                  WY  discharge        Qb
year month day
1991 9     1    1992   0.083963  0.079453
           2    1992   0.083963  0.079791
           3    1992   0.083963  0.080104
           4    1992   0.083963  0.080394
           5    1992   0.070818  0.070818
...              ...        ...       ...
2020 8     27   2020   0.178247  0.178247
           28   2020   0.127344  0.127344
           29   2020   0.121626  0.121626
           30   2020   0.111551  0.111551
           31   2020   0.100905  0.100905

[10593 rows x 3 columns]

In [21]:
df_3 = df_2.groupby("WY").sum()
df_3["BFI"] = df_3["Qb"]/df_3["discharge"]
df_3

        discharge          Qb       BFI
WY
1992   425.407410  206.474997  0.485358
1993   755.781031  324.149765  0.428894
1994  1091.735770  465.694344  0.426563
1995  1131.482239  572.260489  0.505762
1996   648.402967  289.796945  0.446940
1997   754.004539  353.658177  0.469040
1998   891.931979  406.944789  0.456251
1999  1253.936941  604.154557  0.481806
2000   844.767363  384.139456  0.454728
2001  1803.637435  772.672378  0.428397
2002  1103.413194  509.901301  0.462113
2003   653.812100  341.273889  0.521975
2004   868.773568  408.743505  0.470483
2005   830.022495  450.528563  0.542791
2006  1000.651931  429.677037  0.429397
2007  1075.139921  499.555033  0.464642
2008  1050.450719  508.020487  0.483621
2009  1054.209983  474.850687  0.450433
2010  1209.391878  554.707090  0.458666
2011  1216.751405  545.510087  0.448333
2012  1036.755637  566.190594  0.546118
2013  1057.811601  500.323557  0.472980
2014   895.627533  468.107418  0.522659
2015  1113.049210  560.998772  0.504020
2016  1077.303634  440.464977  0.408859
2017   657.614119  309.456354  0.470574
2018   926.408907  381.806986  0.412137
2019   998.681273  476.955300  0.477585
2020  1000.097534  560.881699  0.560827

In [9]:
for x,y in zip(files, nan_list):
    print(x,y)
    print()

2.634.q [(0, 0, 0, 0)]

12.209.q [(7875, 7876, 1, 7875), (0, 0, 0, 0)]

105.1.q [(0, 0, 0, 0)]

88.4.q [(0, 0, 0, 0)]

2.28.q [(0, 0, 0, 0)]

173.8.q [(7792, 7948, 156, 7792), (10194, 10240, 46, 2246), (12313, 12809, 496, 2073), (13038, 13385, 347, 229), (15462, 15588, 126, 2077), (15770, 15894, 124, 182), (16757, 16813, 56, 863), (0, 0, 0, 0)]

2.265.q [(9253, 10012, 759, 9253), (10013, 10029, 16, 1), (10030, 10082, 52, 1), (10083, 10112, 29, 1), (10113, 10171, 58, 1), (10172, 10175, 3, 1), (10176, 10189, 13, 1), (10190, 10218, 28, 1), (10219, 10258, 39, 1), (10259, 10281, 22, 1), (10282, 10349, 67, 1), (10714, 10896, 182, 365), (10897, 10899, 2, 1), (10900, 10901, 1, 1), (10902, 10903, 1, 1), (10904, 10905, 1, 1), (10906, 10908, 2, 1), (10909, 10910, 1, 1), (10911, 10913, 2, 1), (10914, 10915, 1, 1), (10916, 10917, 1, 1), (10918, 10919, 1, 1), (10920, 10921, 1, 1), (10922, 10923, 1, 1), (10924, 10925, 1, 1), (10926, 11050, 124, 1), (11051, 11057, 6, 1), (11058, 11064, 6, 1), (11065, 11071, 6, 1), (11072, 11078, 6, 1), (11079, 11445, 366, 1), (0, 0, 0, 0)]

12.178.q [(0, 0, 0, 0)]

73.27.q [(5540, 8657, 3117, 5540), (0, 0, 0, 0)]

35.16.q [(0, 0, 0, 0)]

78.8.q [(6315, 6316, 1, 6315), (0, 0, 0, 0)]

124.2.q [(0, 0, 0, 0)]

121.20.q [(0, 0, 0, 0)]

12.171.q [(0, 0, 0, 0)]

212.10.q [(0, 0, 0, 0)]

122.9.q [(6697, 10714, 4017, 6697), (0, 0, 0, 0)]

26.29.q [(0, 0, 0, 0)]

2.604.q [(0, 0, 0, 0)]

103.40.q [(0, 0, 0, 0)]

16.66.q [(0, 0, 0, 0)]

206.3.q [(0, 0, 0, 0)]

15.21.q [(8888, 9253, 365, 8888), (0, 0, 0, 0)]

2.463.q [(1948, 2314, 366, 1948), (0, 0, 0, 0)]

2.32.q [(0, 0, 0, 0)]

223.2.q [(7701, 8369, 668, 7701), (0, 0, 0, 0)]

15.53.q [(18385, 18750, 365, 18385), (19115, 19480, 365, 365), (0, 0, 0, 0)]

20.2.q [(0, 0, 0, 0)]

77.3.q [(0, 0, 0, 0)]

16.75.q [(0, 0, 0, 0)]

62.5.q [(0, 0, 0, 0)]

133.7.q [(0, 0, 0, 0)]

48.5.q [(2053, 2601, 548, 2053), (3044, 4260, 1216, 443), (0, 0, 0, 0)]

48.1.q [(0, 0, 0, 0)]

152.4.q [(0, 0, 0, 0)]

12.150.q [(14690, 15097, 407, 14690), (15828, 16924, 1096, 731), (17285, 17654, 369, 361), (0, 0, 0, 0)]

2.479.q [(122, 1066, 944, 122), (1135, 1702, 567, 69), (1703, 2055, 352, 1), (2056, 2454, 398, 1), (2472, 2474, 2, 18), (2482, 2516, 34, 8), (2595, 2814, 219, 79), (0, 0, 0, 0)]

15.79.q [(0, 0, 0, 0)]

19.107.q [(751, 1283, 532, 751), (1339, 1490, 151, 56), (1586, 1647, 61, 96), (1822, 2012, 190, 175), (2254, 2501, 247, 242), (2899, 2900, 1, 398), (3044, 3091, 47, 144), (3131, 3180, 49, 40), (3647, 3682, 35, 467), (3770, 3787, 17, 88), (4289, 4356, 67, 502), (6297, 6332, 35, 1941), (8065, 8066, 1, 1733), (0, 0, 0, 0)]

2.614.q [(0, 0, 0, 0)]

15.49.q [(0, 0, 0, 0)]

234.18.q [(12054, 12572, 518, 12054), (0, 0, 0, 0)]

234.13.q [(0, 0, 0, 0)]

151.15.q [(0, 0, 0, 0)]

62.10.q [(0, 0, 0, 0)]

26.20.q [(0, 0, 0, 0)]

2.268.q [(9619, 9932, 313, 9619), (0, 0, 0, 0)]

18.10.q [(0, 0, 0, 0)]

109.42.q [(0, 0, 0, 0)]

156.10.q [(0, 0, 0, 0)]

12.215.q [(11079, 11444, 365, 11079), (0, 0, 0, 0)]

208.3.q [(0, 0, 0, 0)]

28.7.q [(0, 0, 0, 0)]

24.9.q [(0, 0, 0, 0)]

2.633.q [(6698, 6699, 1, 6698), (6919, 6927, 8, 220), (7022, 7023, 1, 95), (0, 0, 0, 0)]

109.9.q [(0, 0, 0, 0)]

311.6.q [(0, 0, 0, 0)]

203.2.q [(0, 0, 0, 0)]

196.35.q [(39568, 39569, 1, 39568), (0, 0, 0, 0)]

191.2.q [(0, 0, 0, 0)]

72.77.q [(0, 0, 0, 0)]

82.4.q [(0, 0, 0, 0)]

311.460.q [(0, 0, 0, 0)]

76.5.q [(0, 0, 0, 0)]

127.11.q [(0, 0, 0, 0)]

91.2.q [(0, 0, 0, 0)]

75.23.q [(0, 0, 0, 0)]

12.70.q [(0, 0, 0, 0)]

230.1.q [(0, 0, 0, 0)]

25.24.q [(17289, 17387, 98, 17289), (0, 0, 0, 0)]

212.49.q [(8469, 9111, 642, 8469), (11900, 12243, 343, 2789), (15828, 16494, 666, 3585), (16923, 18199, 1276, 429), (0, 0, 0, 0)]

122.11.q [(0, 0, 0, 0)]

98.4.q [(0, 0, 0, 0)]

12.192.q [(0, 0, 0, 0)]

313.10.q [(0, 0, 0, 0)]

148.2.q [(0, 0, 0, 0)]

50.1.q [(0, 0, 0, 0)]

24.8.q [(1249, 1583, 334, 1249), (0, 0, 0, 0)]

16.132.q [(7792, 8110, 318, 7792), (8283, 8655, 372, 173), (9077, 9166, 89, 422), (0, 0, 0, 0)]

2.11.q [(0, 0, 0, 0)]

103.1.q [(0, 0, 0, 0)]

41.1.q [(0, 0, 0, 0)]

2.291.q [(0, 0, 0, 0)]

2.142.q [(0, 0, 0, 0)]

2.279.q [(0, 0, 0, 0)]

109.29.q [(13676, 13698, 22, 13676), (13699, 13700, 1, 1), (13705, 13744, 39, 5), (0, 0, 0, 0)]

87.10.q [(12858, 12859, 1, 12858), (0, 0, 0, 0)]

200.4.q [(0, 0, 0, 0)]

22.16.q [(24228, 24593, 365, 24228), (0, 0, 0, 0)]

6.10.q [(0, 0, 0, 0)]

138.1.q [(0, 0, 0, 0)]

22.4.q [(0, 0, 0, 0)]

168.2.q [(0, 0, 0, 0)]

8.2.q [(0, 0, 0, 0)]

139.35.q [(0, 0, 0, 0)]

3.22.q [(0, 0, 0, 0)]

22.22.q [(6371, 6697, 326, 6371), (0, 0, 0, 0)]

83.2.q [(91, 97, 6, 91), (98, 104, 6, 1), (105, 111, 6, 1), (112, 118, 6, 1), (119, 122, 3, 1), (0, 0, 0, 0)]

2.145.q [(0, 0, 0, 0)]

247.3.q [(6240, 6890, 650, 6240), (0, 0, 0, 0)]

16.122.q [(10162, 10164, 2, 10162), (10287, 10288, 1, 123), (11572, 11597, 25, 1284), (0, 0, 0, 0)]

In [10]:
df.index

MultiIndex([(1991, 9,  1),
            (1991, 9,  2),
            (1991, 9,  3),
            (1991, 9,  4),
            (1991, 9,  5),
            (1991, 9,  6),
            (1991, 9,  7),
            (1991, 9,  8),
            (1991, 9,  9),
            (1991, 9, 10),
            ...
            (2020, 8, 22),
            (2020, 8, 23),
            (2020, 8, 24),
            (2020, 8, 25),
            (2020, 8, 26),
            (2020, 8, 27),
            (2020, 8, 28),
            (2020, 8, 29),
            (2020, 8, 30),
            (2020, 8, 31)],
           names=['year', 'month', 'day'], length=10593)

In [11]:
tmp_list = []
tmp_list2 = []
tmp_list3 = []
tmp_list4 = []

for nan_indicies in tmp_nan_list:
    v1 = nan_indicies[0]
    v2 = nan_indicies[1]
    v3 = nan_indicies[2]
    v4 = nan_indicies[3]
    if v4 < reflect:
        # If this is the case we want to skip all the series which are shorter than the reflect length.
        # Would then use the previous initial value and last value as the edges of the nan-series.

        # This method works but is dumb af
        tmp_list.append(v1)  # Append first value
        tmp_list.append(v2)  # Append last value
        tmp_list2.append(v3)  # Append Length_Nan
        tmp_list3.append(v4)  # Append Length_NoNan
    elif nan_indicies == tmp_nan_list[-1]: 
        a = tmp_list[0]
        b = tmp_list[-1]
        tmp_list4.append((a,b,b-a,tmp_list3[0]))

    else:
        a = tmp_list[0]
        b = tmp_list[-1]
        c = b - a

        tmp_list4.append((a, b, c, tmp_list3[0]))

        tmp_list = []
        tmp_list2 = []
        tmp_list3 = []
tmp_list4

NameError: name 'tmp_nan_list' is not defined