In [1]:
from typing import Dict, List, Tuple
import numpy as np
import pandas as pd

In [40]:
path= "./data/discharge_data_100/2.11.q"
data_df= pd.read_csv(path, delim_whitespace=True, parse_dates=[0], names=["date", "discharge"])

In [41]:
working = data_df.copy()

In [42]:
working["day"] = working["date"].dt.day
working["month"] = working["date"].dt.month
working["year"] = working["date"].dt.year

In [43]:
indexes = list(zip(working["year"], working["month"], working["day"]))

In [44]:
index = pd.MultiIndex.from_tuples(indexes, names=["year","month","day"])

In [103]:
first_year = working["year"].iloc[0]
last_year = working["year"].iloc[-1]
last_month = working["month"].iloc[-1]
print(first_year, last_year, last_month)

1930 2020 12

In [104]:
final = pd.DataFrame(working["discharge"], copy=True)
final.set_index(index, inplace=True)

In [105]:
hyearstart = (final.iloc[0].name[0],9,1)
hyearend = (final.iloc[-1].name[0], 8, 31)

In [106]:
loc_start = final.index.get_loc(hyearstart)
loc_end = final.index.get_loc(hyearend)

In [107]:
final = final.loc[hyearstart:hyearend]
final

                discharge
year month day
1930 9     1     1.771332
           2     1.771332
           3     1.771332
           4     1.771332
           5     1.839270
...                   ...
2020 8     27    1.003435
           28    0.979813
           29    0.920514
           30    0.963775
           31    0.979813

[32873 rows x 1 columns]

In [108]:
# final["truth"] = final["discharge"] == -9999
final

                discharge
year month day
1930 9     1     1.771332
           2     1.771332
           3     1.771332
           4     1.771332
           5     1.839270
...                   ...
2020 8     27    1.003435
           28    0.979813
           29    0.920514
           30    0.963775
           31    0.979813

[32873 rows x 1 columns]

In [53]:
# final["truth"].value_counts()

False    32873
Name: truth, dtype: int64

In [109]:
final.iloc[200] = -9999
final.iloc[300] = -9999

In [115]:
nan_values = final["discharge"] == -9999
nr_nan_values = nan_values.value_counts()
if nr_nan_values.loc[True] != 0:
    loc_nan = nan_values[nan_values==True].index.values

In [116]:
type(loc_nan)

numpy.ndarray