In [1]:
from typing import Dict, List, Tuple
import numpy as np
import pandas as pd

In [2]:
path= "./data/discharge_data_100/2.11.q"
data_df= pd.read_csv(path, delim_whitespace=True, parse_dates=[0], names=["date", "discharge"])

In [3]:
working = data_df.copy()
working

                     date    discharge
0     1930-01-01 12:00:00 -9999.000000
1     1930-01-02 12:00:00 -9999.000000
2     1930-01-03 12:00:00 -9999.000000
3     1930-01-04 12:00:00 -9999.000000
4     1930-01-05 12:00:00 -9999.000000
...                   ...          ...
33233 2020-12-27 12:00:00     1.101051
33234 2020-12-28 12:00:00     1.055948
33235 2020-12-29 12:00:00     1.039146
33236 2020-12-30 12:00:00     1.039146
33237 2020-12-31 12:00:00     1.037626

[33238 rows x 2 columns]

In [5]:
working["day"] = working["date"].dt.day
working["month"] = working["date"].dt.month
working["year"] = working["date"].dt.year

In [6]:
indexes = list(zip(working["year"], working["month"], working["day"]))

In [7]:
index = pd.MultiIndex.from_tuples(indexes, names=["year","month","day"])

In [8]:
first_year = working["year"].iloc[0]
last_year = working["year"].iloc[-1]
last_month = working["month"].iloc[-1]
print(first_year, last_year, last_month)

1930 2020 12

In [10]:
final = pd.DataFrame(working["discharge"], copy=True)
final.set_index(index, inplace=True)
final.index

MultiIndex([(1930,  1,  1),
            (1930,  1,  2),
            (1930,  1,  3),
            (1930,  1,  4),
            (1930,  1,  5),
            (1930,  1,  6),
            (1930,  1,  7),
            (1930,  1,  8),
            (1930,  1,  9),
            (1930,  1, 10),
            ...
            (2020, 12, 22),
            (2020, 12, 23),
            (2020, 12, 24),
            (2020, 12, 25),
            (2020, 12, 26),
            (2020, 12, 27),
            (2020, 12, 28),
            (2020, 12, 29),
            (2020, 12, 30),
            (2020, 12, 31)],
           names=['year', 'month', 'day'], length=33238)

In [105]:
hyearstart = (final.iloc[0].name[0],9,1)
hyearend = (final.iloc[-1].name[0], 8, 31)

In [106]:
loc_start = final.index.get_loc(hyearstart)
loc_end = final.index.get_loc(hyearend)

In [107]:
final = final.loc[hyearstart:hyearend]
final

                discharge
year month day
1930 9     1     1.771332
           2     1.771332
           3     1.771332
           4     1.771332
           5     1.839270
...                   ...
2020 8     27    1.003435
           28    0.979813
           29    0.920514
           30    0.963775
           31    0.979813

[32873 rows x 1 columns]

In [108]:
# final["truth"] = final["discharge"] == -9999
final

                discharge
year month day
1930 9     1     1.771332
           2     1.771332
           3     1.771332
           4     1.771332
           5     1.839270
...                   ...
2020 8     27    1.003435
           28    0.979813
           29    0.920514
           30    0.963775
           31    0.979813

[32873 rows x 1 columns]

In [53]:
# final["truth"].value_counts()

False    32873
Name: truth, dtype: int64

In [109]:
final.iloc[200] = -9999
final.iloc[300] = -9999

In [115]:
nan_values = final["discharge"] == -9999
nr_nan_values = nan_values.value_counts()
if nr_nan_values.loc[True] != 0:
    loc_nan = nan_values[nan_values==True].index.values

In [116]:
type(loc_nan)

numpy.ndarray